.UList-bg {
    background-color: wheat;
}

.UList-header {
    font-size: 50px;
}

.Input_field{
    /* margin-right: 20px; */
    margin-bottom: 20px;
}

.ID-links{
    text-align: center;
    text-decoration: none;
}

.table{
    text-align: center;
}

h1 {
    margin-top: 0;
}