<h1>my-chart works!</h1>
<!-- {{SayHello()}} -->
<div class="card">
    <div>
        <div class="number">$7,842</div>
        <div class="cardName">Earning</div>
    </div>
</div>
<div class="card">
    <div>
        <div class="number">24</div>
        <div class="cardName">Booking</div>
    </div>
</div>
<div class="card">
    <div>
        <div class="number">5</div>
        <div class="cardName">Reject</div>
    </div>
</div>
<div class="graphBox">
    <div class="box">
        <div id = "divChart">
            <canvas id = 'myChart'></canvas>
        </div>
        <table border="1">
            <thead>
                <tr>
                    <th>Display</th>
                    <th>Number of Booking</th>
                    <th>RoomNight</th>
                    <th>Revenue</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="box">
        <div id = "divChart">
            <canvas id = 'PolarArea'></canvas>
        </div>
    </div>
</div>
